<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Đăng nhập</h2>
    <form action="/login">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Ghi nhớ tài khoản</label>
      </div>

      <a href="http://localhost:3000/dangkitaikhoan" class="btn btn-default">Đăng kí</a>

      <a href="http://localhost:3000/trangchu" class="btn btn-default">Đăng nhập</a>
    </form>
  </div>

</body>

</html>